In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
violations = pd.read_csv("./data/food+establishment+violations (1).csv")

In [3]:
violations.head()

,LICENSENO,ISSDTTM,EXPDTTM,LICSTATUS,LICENSECAT,DESCRIPT,RESULT,RESULTDTTM,VIOLATION,VIOLLEVEL,VIOLDESC,VIOLDTTM,VIOLSTATUS,PROPERTY_ID,LOCATION
0,77958,3/14/2012 9:17,12/31/2012 23:59,Inactive,FT,Eating & Drinking w/ Take Out,HE_Pass,1/3/2012 7:26,NaN,NaN,NaN,,NaN,155968.0,"(42.355863000, -71.061898000)"
1,74470,2/1/2012 12:29,12/31/2018 23:59,Active,FS,Eating & Drinking,HE_Filed,1/3/2012 9:42,15-4-202.16,*,Non-Food Contact Surfaces,1/3/2012 9:42,Fail,48511.0,"(42.278028000, -71.066046000)"
2,74470,2/1/2012 12:29,12/31/2018 23:59,Active,FS,Eating & Drinking,HE_Filed,1/3/2012 9:42,36-6-501.11-.12,*,Improper Maintenance of Floors,1/3/2012 9:42,Fail,48511.0,"(42.278028000, -71.066046000)"
3,74470,2/1/2012 12:29,12/31/2018 23:59,Active,FS,Eating & Drinking,HE_Filed,1/3/2012 9:42,37-6-501.11-.12,*,Improper Maintenance of Walls/Ceilings,1/3/2012 9:42,Fail,48511.0,"(42.278028000, -71.066046000)"
4,18086,12/27/2011 12:46,12/31/2011 23:59,Inactive,RF,Retail Food,HE_Fail,1/3/2012 10:06,23-4-602.13,*,Non-Food Contact Surfaces Clean,1/3/2012 10:06,Fail,14788.0,"(42.382370000, -71.018390000)"

In [5]:
violations.rename(str.lower, axis = "columns", inplace = True)

In [33]:
violations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 324898 entries, 0 to 324897
Data columns (total 15 columns):
licenseno      324898 non-null int64
issdttm        324898 non-null object
expdttm        324898 non-null object
licstatus      324898 non-null object
licensecat     324898 non-null object
descript       324898 non-null object
result         324898 non-null object
resultdttm     324898 non-null object
violation      305941 non-null object
viollevel      305941 non-null object
violdesc       305941 non-null object
violdttm       324898 non-null object
violstatus     305941 non-null object
property_id    260371 non-null float64
location       238701 non-null object
dtypes: float64(1), int64(1), object(13)
memory usage: 37.2+ MB

In [17]:
violations['location'][0].split(",")[0].strip("(, )")

'42.355863000'

In [23]:
valid_locations = violations[violations['location'].notna()]

In [28]:
valid_locations['lat'] = valid_locations['location'].apply(lambda x: x.split(",")[0].strip("(, )"))

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [29]:
valid_locations['long'] = valid_locations['location'].apply(lambda x: x.split(",")[1].strip("(, )"))

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [31]:
valid_locations.head()

,licenseno,issdttm,expdttm,licstatus,licensecat,descript,result,resultdttm,violation,viollevel,violdesc,violdttm,violstatus,property_id,location,lat,long
0,77958,3/14/2012 9:17,12/31/2012 23:59,Inactive,FT,Eating & Drinking w/ Take Out,HE_Pass,1/3/2012 7:26,NaN,NaN,NaN,,NaN,155968.0,"(42.355863000, -71.061898000)",42.355863000,-71.061898000
1,74470,2/1/2012 12:29,12/31/2018 23:59,Active,FS,Eating & Drinking,HE_Filed,1/3/2012 9:42,15-4-202.16,*,Non-Food Contact Surfaces,1/3/2012 9:42,Fail,48511.0,"(42.278028000, -71.066046000)",42.278028000,-71.066046000
2,74470,2/1/2012 12:29,12/31/2018 23:59,Active,FS,Eating & Drinking,HE_Filed,1/3/2012 9:42,36-6-501.11-.12,*,Improper Maintenance of Floors,1/3/2012 9:42,Fail,48511.0,"(42.278028000, -71.066046000)",42.278028000,-71.066046000
3,74470,2/1/2012 12:29,12/31/2018 23:59,Active,FS,Eating & Drinking,HE_Filed,1/3/2012 9:42,37-6-501.11-.12,*,Improper Maintenance of Walls/Ceilings,1/3/2012 9:42,Fail,48511.0,"(42.278028000, -71.066046000)",42.278028000,-71.066046000
4,18086,12/27/2011 12:46,12/31/2011 23:59,Inactive,RF,Retail Food,HE_Fail,1/3/2012 10:06,23-4-602.13,*,Non-Food Contact Surfaces Clean,1/3/2012 10:06,Fail,14788.0,"(42.382370000, -71.018390000)",42.382370000,-71.018390000

In [37]:
valid_locations['viollevel'].isna().sum()

12160

In [55]:
valid_locations['viollevel'].value_counts()

*      171519
***     40848
**      14145
Name: viollevel, dtype: int64

In [54]:
valid_locations = valid_locations[valid_locations['viollevel'] != "1919"]

In [42]:
valid_locations['result'].value_counts()

HE_Fail       101254
HE_Pass        71475
HE_Filed       27922
HE_FailExt     19582
HE_Hearing      9958
HE_NotReq       5063
HE_TSOP         2628
HE_OutBus        488
HE_Closure       287
HE_FAILNOR        24
HE_Misc           18
Pass               2
Name: result, dtype: int64

In [45]:
valid_locations['result'][valid_locations['result'] == "Pass"] = "HE_Pass"

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/opt/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:9114: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)
/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3326: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [46]:
valid_locations['result'].value_counts()

HE_Fail       101254
HE_Pass        71477
HE_Filed       27922
HE_FailExt     19582
HE_Hearing      9958
HE_NotReq       5063
HE_TSOP         2628
HE_OutBus        488
HE_Closure       287
HE_FAILNOR        24
HE_Misc           18
Name: result, dtype: int64

In [50]:
valid_locations = valid_locations[valid_locations['result'] != "HE_Misc"]
valid_locations = valid_locations[valid_locations['result'] != "HE_FAILNOR"]

In [52]:
valid_locations['result'].value_counts()

HE_Fail       101254
HE_Pass        71477
HE_Filed       27922
HE_FailExt     19582
HE_Hearing      9958
HE_NotReq       5063
HE_TSOP         2628
HE_OutBus        488
HE_Closure       287
Name: result, dtype: int64

In [56]:
valid_locations['violstatus'].value_counts()

Fail    126218
Pass    100109
           185
Name: violstatus, dtype: int64

In [53]:
valid_locations.to_csv("./data/violations_locations.csv", index = False)